<!--
 ~ Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WSO2 Open Banking - Accelerator Token Flow Test" parallel="tests" >
    <test name="Token Flow - Regulatory Application" enabled="true" group-by-instances="true">
        <!--    <classes>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.mtls_enforcement_validator.MtlsEnforcementValidationTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.signature_algorithm_validation.SignatureAlgorithmValidationTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.client_authenticator_enforcement.MtlsClientAuthenticationTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.client_authenticator_enforcement.PkjwtClientAuthenticationTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.grant_type_validation.ClientCredentialGrantAccessTokenTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.grant_type_validation.AuthorisationCodeGrantAccessToken"/>-->
        <!--      &lt;!&ndash;ToDo: Uncomment after resolving https://github.com/wso2-enterprise/financial-open-banking/issues/7783&ndash;&gt;-->
        <!--      &lt;!&ndash;class name="grant_type_validation.regulatory_app.org.wso2.financial.services.accelerator.test.token.RefreshTokenGrantAccessToken"/&ndash;&gt;-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.regulatory_app.grant_type_validation.PasswordGrantAccessTokenTest"/>-->
        <!--    </classes>-->
    </test>
    <test name="Token Flow - Non-Regulatory Application" parallel="tests" enabled="false"  group-by-instances="true">
        <!--    <classes>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.non_regulatory_app.grant_type_validation.ClientCredentialGrantAccessTokenTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.non_regulatory_app.grant_type_validation.AuthorisationCodeGrantAccessTokenTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.non_regulatory_app.grant_type_validation.RefreshTokenGrantAccessTokenTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.non_regulatory_app.grant_type_validation.PasswordGrantAccessTokenTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.non_regulatory_app.client_authenticator_enforcement.MtlsClientAuthenticationTest"/>-->
        <!--      <class name="org.wso2.financial.services.accelerator.test.token.non_regulatory_app.client_authenticator_enforcement.PkjwtClientAuthenticationTest"/>-->
        <!--    </classes>-->
    </test>
</suite>
