<!--
 ~ Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="consent-extensions-test-suite">
    <test name="consent-extensions-test-all">
        <classes>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.common.ExternalAPIUtilTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.manage.DefaultConsentManageHandlerTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.manage.utils.ExternalAPIConsentManageUtilsTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authservlet.FSDefaultAuthServletImplTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authservlet.ConsentMgrAuthServletImplTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authservlet.ISDefaultAuthServletImplTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.DefaultConsentRetrievalStepTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.NonRegulatoryConsentStepTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.ExternalAPIConsentPersistStepTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.ExternalAPIConsentRetrievalStepTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.DefaultConsentPersistStepTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.validate.DefaultConsentValidatorTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.validate.ConsentValidatorServiceExtensionTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.admin.DefaultConsentAdminHandlerTest"/>
            <class name="org.wso2.financial.services.accelerator.consent.mgt.extensions.idempotency.IdempotencyValidatorTests"/>
        </classes>
    </test>
</suite>
