<Context>
<Resource name="jdbc/WSO2FS_DB" auth="Container" type="javax.sql.DataSource"
          maxActive="50" maxIdle="30" maxWait="10000"
          username="<USER_NAME>" password="<PASSWORD>"
          driverClassName="com.mysql.cj.jdbc.Driver"
          url="<DATABASE_CONNECTION_URI>"/>
</Context>
