<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<Server xmlns="http://wso2.org/projects/carbon/financial-services.xml">
    <Common>
        <Cache>
            {% if financial_services.common.cache.cache_access_expiry_minutes is defined %}
            <CacheAccessExpiry>{{financial_services.common.cache.cache_access_expiry_minutes}}</CacheAccessExpiry>
            {% else %}
            <CacheAccessExpiry>60</CacheAccessExpiry>
            {% endif %}
            {% if financial_services.common.cache.cache_modified_expiry_minutes is defined %}
            <CacheModifiedExpiry>{{financial_services.common.cache.cache_modified_expiry_minutes}}</CacheModifiedExpiry>
            {% else %}
            <CacheModifiedExpiry>60</CacheModifiedExpiry>
            {% endif %}
        </Cache>
    </Common>
    <Gateway>
        {% if financial_services.gateway.request_router is defined %}
        <RequestRouter>{{financial_services.gateway.request_router}}</RequestRouter>
        {% else %}
        <RequestRouter>org.wso2.financial.services.accelerator.gateway.executor.core.DefaultRequestRouter</RequestRouter>
        {% endif %}
        <FinancialServicesGatewayExecutors>
            {% for type in financial_services.gateway.gateway_executors.type %}
                <{{type.name}}>
                    {% for executor in type.executors %}
                       <Executor class="{{executor.name}}" priority="{{executor.priority}}"/>
                        {% endfor %}
                 </{{type.name}}>
            {% endfor %}
        </FinancialServicesGatewayExecutors>
        {% if financial_services.gateway.consent.validation.endpoint is defined %}
        <ConsentValidationEndpoint>{{financial_services.gateway.consent.validation.endpoint}}</ConsentValidationEndpoint>
        {% else %}
        <ConsentValidationEndpoint>https://localhost:9446/api/fs/consent/validate</ConsentValidationEndpoint>
        {% endif %}
        <Cache>
            <GatewayCache>
                {% if financial_services.gateway.cache.cache_access_expiry_minutes is defined %}
                    <CacheAccessExpiry>{{financial_services.gateway.cache.cache_access_expiry_minutes}}</CacheAccessExpiry>
                {% endif %}
                {% if financial_services.gateway.cache.cache_modified_expiry_minutes is defined %}
                    <CacheModifiedExpiry>{{financial_services.gateway.cache.cache_modified_expiry_minutes}}</CacheModifiedExpiry>
                {% endif %}
            </GatewayCache>
        </Cache>
    </Gateway>
    {% if financial_services.publisher_url is defined %}
    <PublisherURL>{{financial_services.publisher_url}}</PublisherURL>
    {% else %}
    <PublisherURL>https://localhost:9443</PublisherURL>
    {% endif %}
    <HTTPConnectionPool>
        {% if financial_services.http_connection_pool.max_connections is defined %}
        <MaxConnections>{{financial_services.http_connection_pool.max_connections}}</MaxConnections>
        {% endif %}
        {% if financial_services.http_connection_pool.max_connections_per_route is defined %}
        <MaxConnectionsPerRoute>{{financial_services.http_connection_pool.max_connections_per_route}}</MaxConnectionsPerRoute>
        {% endif %}
    </HTTPConnectionPool>
</Server>
