

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear
*.zip
*.tar.gz
*.rar
#*.jar
#*.war

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
.vscode/

# maven target directories
target


# Ignore everything in this directory which are IDE specific
.classpath
.settings
.project
*.iml
*.iws
*.ipr

# ionic Ignore
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
node_modules/
**/webapps

#mac
.DS_Store

# React dashboard ignore
.DS_STORE
**/node_modules/
**/build/
**/npm/
**/dist/
**/package-lock.json

**/context.xml



/.smarttomcat/
