<!--
 ~ Copyright (c) 2023, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="identity-base-test-suite">
    <test name="token-filter-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.token.TokenFilterTest"/>
        </classes>
    </test>
    <test name="client-authenticator-enforcement-validator">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.token.validators.ClientAuthenticatorValidatorTest"/>
        </classes>
    </test>
    <test name="mtls-certificate-validator">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.token.validators.MTLSCertificateValidatorTest"/>
        </classes>
    </test>
    <test name="client-mutual-tls-enforcement-validator">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.token.validators.MTLSEnforcementValidatorTest"/>
        </classes>
    </test>
    <test name="signing-algorithm--enforcement-validator">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.token.validators.SignatureAlgorithmEnforcementValidatorTest"/>
        </classes>
    </test>

    <test name="auth-extensions-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.request.validator.DefaultOBRequestObjectValidatorTest"/>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.request.validator.RequestObjectValidatorTest"/>
        </classes>
    </test>
    <test name="ob-mutual-client-authenticator">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.clientauth.OBMutualTLSClientAuthenticatorTest"/>
        </classes>
    </test>
    <test name="ob-oidc-claims-callback-handler">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.claims.OBDefaultOIDCClaimsCallbackHandlerTest"/>
            <class name="com.wso2.openbanking.accelerator.identity.claims.RoleClaimProviderImplTest" />
        </classes>
    </test>
    <test name="accelerator-dcr-test-all">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.dcr.DCRValidationTest"/>
            <class name="com.wso2.openbanking.accelerator.identity.dcr.DCRValidationUtilTest"/>
            <class name="com.wso2.openbanking.accelerator.identity.dcr.DCRExtendedValidatorTest"/>
        </classes>
    </test>
    <test name="application-listener">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.application.listener.ApplicationManagementListenerTest"/>
        </classes>
    </test>
    <test name="response-handler-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.response.handler.ResponseTypeHandlerTest"/>
        </classes>
    </test>
    <test name="response-validator-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.response.validator.OBCodeResponseTypeValidatorTest"/>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.response.validator.OBHybridResponseTypeValidatorTest"/>
        </classes>
    </test>
    <test name="authenticator-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.authenticator.OBIdentifierAuthenticatorTest"/>
        </classes>
    </test>
    <test name="identity-base-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.HTTPClientUtilsTest"/>
        </classes>
    </test>
    <test name="idtoken-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.idtoken.OBIDTokenBuilderTests"/>
        </classes>
    </test>
    <test name="push-auth-validator-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.push.auth.extension.request.validator.PushAuthRequestValidatorTest"/>
        </classes>
    </test>
    <test name="buillder-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.builders.DefaultOBRequestUriRequestObjectBuilderTest"/>
        </classes>
    </test>
    <test name="token-revocation-listener-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.listener.TokenRevocationListenerTest"/>
        </classes>
    </test>
    <test name="authentication-worker-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.adaptive.function.OpenBankingAuthenticationWorkerFunctionImplTest"/>
        </classes>
    </test>
    <test name="oauth-authz-request-test">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.auth.extensions.authz.request.OBOAuthAuthzRequestTest"/>
        </classes>
    </test>
    <test name="dispute-resolution-tests">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.dispute.resolution.DisputeResolutionFilterTest"/>
        </classes>
    </test>
    <test name="app2app-auth-tests">
        <classes>
            <class name="com.wso2.openbanking.accelerator.identity.app2app.App2AppAuthenticatorTest"/>
        </classes>
    </test>
</suite>
