<!--
 ~ Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="WSO2 Open Banking - Consent Management Flow Test">
    <test name="Consent Management End to End Flow" parallel="tests" enabled="true" group-by-instances="true">
        <classes>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.EndToEndTest.EndToEndConsentManagementFlowTestFactory"/>
        </classes>
    </test>
    <test name="Consent Management Consent Flow" parallel="tests" enabled="true" group-by-instances="true">
        <classes>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentInitiationTest.ConsentInitiationTest"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentRetrieval.ConsentRetrievalFlow"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentOperationsFlowTests.ConsentManageEndpointValidationTest"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentAuthorisationTest.AuthorizationFlowValidationTest"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentDeleteTest.ConsentRevokeFlow"/>
        </classes>
    </test>
    <test name="Consent Management Consent Validation Flow" parallel="tests" enabled="true" group-by-instances="true">
        <classes>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentValidateTest.AccountConsentValidationFlow"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentValidateTest.COFConsentValidationFlow"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.ConsentValidateTest.PaymentConsentValidationFlow"/>
        </classes>
    </test>
    <test name="Consent Management Account Consent Flow" parallel="tests" enabled="true" group-by-instances="true">
        <classes>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.AccountsApiTests.InitiationPayloadValidationTests"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.AccountsApiTests.InitiationRequestHeaderValidationTests"/>
        </classes>
    </test>
    <test name="Consent Management COF Consent Flow" parallel="tests" enabled="true" group-by-instances="true">
        <classes>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.FundsConfirmationTests.InitiationPayloadValidationTests"/>
            <class name="org.wso2.financial.services.accelerator.test.consent.management.FundsConfirmationTests.InitiationRequestHeaderValidationTests"/>
        </classes>
    </test>
</suite>
