<!--
 ~ Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<!-- Updating the request method and utilizing the sub request path to be appended to the URL before invoking the services -->
<property name="HTTP_METHOD" expression="$ctx:api.ut.HTTP_METHOD" scope="axis2" type="STRING"/>
<property name="uri.var.subRequestPath" expression="fn:substring-after($ctx:REST_SUB_REQUEST_PATH, '/')" type="STRING"/>

<!-- Disabling default behaviour of appending the sub request path to URL -->
<property name="REST_URL_POSTFIX" scope="axis2" action="remove"/>

<filter regex="{{consentServiceRoutingRegexPattern}}" source="$ctx:REST_FULL_REQUEST_PATH">
    <then>
        <!-- Appending headers required for consent service -->
        <header name="Authorization" value="Basic {{consentServiceBasicAuthCredentials}}" scope="transport"/>
        <header name="x-wso2-client-id" expression="$ctx:api.ut.consumerKey" scope="transport"/>
        <header name="To" expression="fn:concat('{{consentServiceBaseUrl}}/api/fs/consent/manage/', $ctx:uri.var.subRequestPath)"/>
    </then>
    <else>
        <header name="To" expression="fn:concat('{{bankBackendBaseUrl}}/', $ctx:uri.var.subRequestPath)"/>
    </else>
</filter>
