<!--
 ~ Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<filter xpath="boolean(get-property('originalEndpointURI'))">
<then>
    <property name="endpointURI" expression="get-property('originalEndpointURI')"/>
</then>
<else>
    <property name="endpointURI" expression="get-property('To')"/>
</else>
</filter>

<!-- Updating the request method and utilizing the sub request path to be appended to the URL before invoking the services -->
<property name="HTTP_METHOD" expression="get-property('api.ut.HTTP_METHOD')" scope="axis2" type="STRING"/>
<property name="uri.var.subRequestPath" expression="fn:substring-after(get-property('REST_SUB_REQUEST_PATH'), '/')" type="STRING"/>

<filter regex=".*\/payment-consents.*" source="$ctx:endpointURI">
<then>
    <!-- Appending headers required for consent service -->
    <header name="Authorization" value="Basic {{consentServiceBasicAuthCredentials}}" scope="transport"/>
    <header name="x-wso2-client-id" expression="get-property('api.ut.consumerKey')" scope="transport"/>

    <call>
        <endpoint>
            <http uri-template="{{consentServiceBaseUrl}}/api/fs/consent/manage/{uri.var.subRequestPath}"/>
        </endpoint>
    </call>
</then>
<else>
    <call>
        <endpoint>
            <http uri-template="{{bankBackendBaseUrl}}/{uri.var.subRequestPath}"/>
        </endpoint>
    </call>
</else>
</filter>
<respond/>
