    /**
     * {{{notes}}}
     *
     {{#allParams}}
     * @param {{paramName}} {{description}}
     {{/allParams}}
     {{#responses}}
     * @return {{{message}}}
     {{/responses}}
     */
    @{{httpMethod}}{{#subresourceOperation}}
    @Path("{{{path}}}"){{/subresourceOperation}}{{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} }){{/hasProduces}}{{#useSwaggerAnnotations}}
    @Operation(
    summary = "{{{summary}}}",
    description = "{{{notes}}}",
    responses = {
    {{#responses}}
        @ApiResponse(
        responseCode = "{{{code}}}",
        description = "{{{message}}}"{{#baseType}},
        content = @Content(schema = @Schema(implementation = {{{baseType}}}.class{{#returnContainer}},
        type = "{{{.}}}"{{/returnContainer}})){{/baseType}}
        ){{^-last}},{{/-last}}{{/responses}}
    }
    )
    @Tag(name = "{{#vendorExtensions.x-tags}}{{tag}}{{/vendorExtensions.x-tags}}")