{{#isQueryParam}}@QueryParam("{{baseName}}"){{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation
}}{{^isContainer}}{{#defaultValue}} @DefaultValue("{{{.}}}"){{/defaultValue}}{{/isContainer}} {{#useSwaggerAnnotations}}{{#description}} @ApiParam("{{.}}"){{/description}}{{/useSwaggerAnnotations}}{{#useMicroProfileOpenAPIAnnotations}}{{#description}} @org.eclipse.microprofile.openapi.annotations.parameters.Parameter(description="{{.}}"){{/description}}{{/useMicroProfileOpenAPIAnnotations}}{{#isBoolean}}boolean{{/isBoolean}}{{#isByte}}byte{{/isByte}}{{#isShort}}short{{/isShort}}{{#isInt}}int{{/isInt}}{{#isLong}}long{{/isLong}}{{#isFloat}}float{{/isFloat}}{{#isDouble}}double{{/isDouble}}{{#isChar}}char{{/isChar}}{{#isByteObject}}byte{{/isByteObject}}{{#isShortObject}}short{{/isShortObject}}{{#isInteger}}int{{/isInteger}}{{#isLongObject}}long{{/isLongObject}}{{#isFloatObject}}float{{/isFloatObject}}{{#isDoubleObject}}Double{{/isDoubleObject}}{{#isString}}String{{/isString}} {{paramName}}{{/isQueryParam}}

