/* ----- Theme.scss ----- */

//? Padding
$padding-04: 4px;
$padding-06: 6px;
$padding-08: 8px;
$padding-10: 10px;
$padding-12: 12px;
$padding-14: 14px;
$padding-16: 16px;
$padding-18: 18px;
$padding-20: 20px;

//? Margin
$margin-04: 4px;
$margin-08: 8px;
$margin-10: 10px;
$margin-12: 12px;
$margin-14: 14px;
$margin-16: 16px;
$margin-18: 18px;
$margin-20: 20px;

//? Font Sizes
$font-thin: 8px;
$font-light: 10px;
$font-small: 12px;
$font-regular: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-max: 20px;

//? Font Weight
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

//? Icon Sizes
$icon-thin: 12px;
$icon-light: 16px;
$icon-small: 20px;
$icon-regular: 24px;
$icon-large: 28px;
$icon-max: 32px;

//? Mixins

//* Flexbox
@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0px;
}
