<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<Server xmlns="http://wso2.org/projects/carbon/financial-services.xml"  xmlns:svns="http://org.wso2.securevault/configuration">
    <Admin>
        {% if financial_services.admin.username is defined %}
        <Username>{{financial_services.admin.username}}</Username>
        {% else %}
        <Username>is_admin@wso2.com</Username>
        {% endif %}
        {% if financial_services.admin.password is defined %}
        <Password>{{financial_services.admin.password}}</Password>
        {% else %}
        <Password>wso2123</Password>
        {% endif %}
    </Admin>
    <JDBCPersistenceManager>
        <DataSource>
            <!-- Include a data source name (jndiConfigName) from the set of data
                sources defined in master-datasources.xml -->
            {% if financial_services.jdbc_persistence_manager.data_source is defined %}
            <Name>jdbc/{{financial_services.jdbc_persistence_manager.data_source.name}}</Name>
            {% else %}
            <Name>jdbc/WSO2FS_DB</Name>
        {% endif %}
        </DataSource>
        {% if financial_services.jdbc_persistence_manager.connection_verification_timeout is defined %}
        <ConnectionVerificationTimeout>{{financial_services.jdbc_persistence_manager.connection_verification_timeout}}</ConnectionVerificationTimeout>
        {% else %}
        <ConnectionVerificationTimeout>1</ConnectionVerificationTimeout>
        {% endif %}
    </JDBCPersistenceManager>
    <Consent>
        <PreInitiatedConsentScopes>
            {% for scope in financial_services.consent.pre_initiated.scopes %}
            <Scope>{{scope}}</Scope>
            {% endfor %}
        </PreInitiatedConsentScopes>
        <ScopeBasedConsentScopes>
            {% for scope in financial_services.consent.scope_based.scopes %}
            <Scope>{{scope}}</Scope>
            {% endfor %}
        </ScopeBasedConsentScopes>
        {% if financial_services.consent.auth_flow_consent_id_source is defined %}
        <AuthFlowConsentIdSource>{{financial_services.consent.auth_flow_consent_id_source}}</AuthFlowConsentIdSource>
        {% endif %}
        <ConsentIdExtraction>
            {% if financial_services.consent.consent_id_extraction.json_path is defined %}
            <JsonPath>{{financial_services.consent.consent_id_extraction.json_path}}</JsonPath>
            {% endif %}
            {% if financial_services.consent.consent_id_extraction.key is defined %}
            <Key>{{financial_services.consent.consent_id_extraction.key}}</Key>
            {% endif %}
            {% if financial_services.consent.consent_id_extraction.regex_pattern is defined %}
            <RegexPattern>{{financial_services.consent.consent_id_extraction.regex_pattern}}</RegexPattern>
            {% endif %}
        </ConsentIdExtraction>
        <ManageExtension>
            <AllowedHeaders>
                {% for allowed_header in financial_services.consent.manage_extension.allowed_headers %}
                <AllowedHeader>{{allowed_header}}</AllowedHeader>
                {% endfor %}
            </AllowedHeaders>
        </ManageExtension>
        {% if financial_services.consent.manage.handler is defined %}
        <ManageHandler>{{financial_services.consent.manage.handler}}</ManageHandler>
        {% else %}
        <ManageHandler>org.wso2.financial.services.accelerator.consent.mgt.extensions.manage.impl.DefaultConsentManageHandler</ManageHandler>
        {% endif %}
        {% if financial_services.consent.manage.validator is defined %}
        <ManageValidator>{{financial_services.consent.manage.validator}}</ManageValidator>
        {% else %}
        <ManageValidator>org.wso2.financial.services.accelerator.consent.mgt.extensions.manage.impl.DefaultConsentManageValidator</ManageValidator>
        {% endif %}
        <AuthorizeSteps>
            <Retrieve>
                {% if financial_services.consent.authorize_steps.retrieve is defined %}
                    {% for step in financial_services.consent.authorize_steps.retrieve %}
                    <Step class="{{step.class}}"
                          priority="{{step.priority}}"/>
                    {% endfor %}
                {% else %}
                <Step class="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.impl.DefaultConsentRetrievalStep" priority="2"/>
                {% endif %}
            </Retrieve>
            <Persist>
                {% if financial_services.consent.authorize_steps.persist is defined %}
                    {% for step in financial_services.consent.authorize_steps.persist %}
                    <Step class="{{step.class}}"
                          priority="{{step.priority}}"/>
                    {% endfor %}
                {% else %}
                <Step class="org.wso2.financial.services.accelerator.consent.mgt.extensions.authorize.impl.DefaultConsentPersistStep" priority="1"/>
                {% endif %}
            </Persist>
        </AuthorizeSteps>
        {% if financial_services.consent.authorize_jsp.path is defined %}
        <AuthorizeJSP>
            <Path>{{financial_services.consent.authorize_jsp.path}}</Path>
        </AuthorizeJSP>
        {% endif %}
        <Validation>
            {% if financial_services.consent.validation.validator is defined %}
            <Validator>{{financial_services.consent.validation.validator}}</Validator>
            {% else %}
            <Validator>org.wso2.financial.services.accelerator.consent.mgt.extensions.validate.impl.DefaultConsentValidator</Validator>
            {% endif %}

            {% if financial_services.consent.validation.signature.alias is defined %}
            <RequestSignatureAlias>{{financial_services.consent.validation.signature.alias}}</RequestSignatureAlias>
            {% else %}
            <RequestSignatureAlias>wso2carbon</RequestSignatureAlias>
            {% endif %}

            {% if financial_services.consent.validation.jwt.payload.enabled is defined %}
            <JWTPayloadValidation>{{financial_services.consent.validation.jwt.payload.enabled}}</JWTPayloadValidation>
            {% else %}
            <JWTPayloadValidation>true</JWTPayloadValidation>
            {% endif %}
        </Validation>
        {% if financial_services.consent.admin.handler is defined %}
        <AdminHandler>{{financial_services.consent.admin.handler}}</AdminHandler>
        {% else %}
        <AdminHandler>org.wso2.financial.services.accelerator.consent.mgt.extensions.admin.impl.DefaultConsentAdminHandler</AdminHandler>
        {% endif %}

        <Portal>
            <ClientCredentials>
                {% if financial_services.consent.portal.client_credentials.client_id is defined %}
                    <ClientId>{{financial_services.consent.portal.client_credentials.client_id}}</ClientId>
                {% else %}
                    <ClientId>consent_management_portal_client_id</ClientId>
                {% endif %}
                {% if financial_services.consent.portal.client_credentials.client_secret is defined %}
                    <ClientSecret>{{financial_services.consent.portal.client_credentials.client_secret}}</ClientSecret>
                {% else %}
                    <ClientSecret>consent_management_portal_client_secret</ClientSecret>
                {% endif %}
            </ClientCredentials>
            <Params>
                {% if financial_services.consent.portal.params.identity_server_base_url is defined %}
                    <IdentityServerBaseUrl>{{financial_services.consent.portal.params.identity_server_base_url}}</IdentityServerBaseUrl>
                {% else %}
                    <IdentityServerBaseUrl>https://localhost:9446</IdentityServerBaseUrl>
                {% endif %}
                {% if financial_services.consent.portal.params.application_name_param is defined %}
                    <ApplicationNameParam>{{financial_services.consent.portal.params.application_name_param}}</ApplicationNameParam>
                {% else %}
                    <ApplicationNameParam>client_name</ApplicationNameParam>
                {% endif %}
                {% if financial_services.consent.portal.params.application_logo_uri_param is defined %}
                    <ApplicationLogoUrlParam>{{financial_services.consent.portal.params.application_logo_uri_param}}</ApplicationLogoUrlParam>
                {% else %}
                    <ApplicationLogoUrlParam>client_name</ApplicationLogoUrlParam>
                {% endif %}
            </Params>
        </Portal>
        <Payments>
            {% if financial_services.consent.payments.max_instructed_amount is defined %}
            <MaximumInstructedAmount>{{financial_services.consent.payments.max_instructed_amount}}</MaximumInstructedAmount>
            {% else %}
            <MaximumInstructedAmount>1000</MaximumInstructedAmount>
            {% endif %}
        </Payments>
        <Idempotency>
            {% if financial_services.consent.idempotency.enabled is defined %}
            <Enabled>{{financial_services.consent.idempotency.enabled}}</Enabled>
            {% else %}
            <IsEnabled>false</IsEnabled>
            {% endif %}
            {% if financial_services.consent.idempotency.allowed_time_duration is defined %}
            <AllowedTimeDuration>{{financial_services.consent.idempotency.allowed_time_duration}}</AllowedTimeDuration>
            {% else %}
            <AllowedTimeDuration>1440</AllowedTimeDuration>
            {% endif %}
            {% if financial_services.consent.idempotency.header_name is defined %}
            <HeaderName>{{financial_services.consent.idempotency.header_name}}</HeaderName>
            {% else %}
            <HeaderName>x-idempotency-key</HeaderName>
            {% endif %}
            {% if financial_services.consent.idempotency.allowed_for_all_apis is defined %}
            <AllowedForAllAPIs>{{financial_services.consent.idempotency.allowed_for_all_apis}}</AllowedForAllAPIs>
            {% else %}
            <AllowedForAllAPIs>false</AllowedForAllAPIs>
            {% endif %}
            <AllowedAPIResources>
                {% for allowed_api in financial_services.consent.idempotency.allowed_api_resources %}
                <AllowedAPIResource>{{allowed_api}}</AllowedAPIResource>
                {% endfor %}
            </AllowedAPIResources>
        </Idempotency>
        {% if financial_services.consent.preserve_consent_link.enable is defined %}
        <PreserveConsentLink>{{financial_services.consent.preserve_consent_link.enable}}</PreserveConsentLink>
        {% else %}
        <PreserveConsentLink>false</PreserveConsentLink>
        {% endif %}
        <PeriodicalExpiration>
            {% if financial_services.consent.periodical_expiration.enabled is defined %}
                <Enabled>{{financial_services.consent.periodical_expiration.enabled}}</Enabled>
            {% else %}
                <Enabled>false</Enabled>
            {% endif %}
            {% if financial_services.consent.periodical_expiration.cron_value is defined %}
                <CronValue>{{financial_services.consent.periodical_expiration.cron_value}}</CronValue>
            {% else %}
                <CronValue>0 0 0 * * ?</CronValue>
            {% endif %}
            {% if financial_services.consent.periodical_expiration.expired_consent_status_value is defined %}
                <ExpiredConsentStatusValue>{{financial_services.consent.periodical_expiration.expired_consent_status_value}}</ExpiredConsentStatusValue>
            {% else %}
                <ExpiredConsentStatusValue>Expired</ExpiredConsentStatusValue>
            {% endif %}
            {% if financial_services.consent.periodical_expiration.eligible_statuses is defined %}
                <EligibleStatuses>{{financial_services.consent.periodical_expiration.eligible_statuses}}</EligibleStatuses>
            {% else %}
                <EligibleStatuses>authorised</EligibleStatuses>
            {% endif %}
        </PeriodicalExpiration>
        <AmendmentHistory>
            {% if financial_services.consent.amendment_history.enabled is defined %}
                <Enabled>{{financial_services.consent.amendment_history.enabled}}</Enabled>
            {% else %}
                <Enabled>false</Enabled>
            {% endif %}
        </AmendmentHistory>
        <AuthorizeJSP>
            {% if financial_services.consent.authorize_jsp.path is defined %}
                <Path>{{financial_services.consent.authorize_jsp.path}}</Path>
            {% endif %}
        </AuthorizeJSP>
    </Consent>
    <Identity>
        <AuthenticationWebApp>
            {% if financial_services.identity.authentication_webapp.servlet_extension is defined %}
            <ServletExtension>
                {{financial_services.identity.authentication_webapp.servlet_extension}}
            </ServletExtension>
            {% else %}
            <ServletExtension>
                org.wso2.financial.services.accelerator.consent.mgt.extensions.authservlet.impl.FSDefaultAuthServletImpl
            </ServletExtension>
            {% endif %}
        </AuthenticationWebApp>
        {% if financial_services.identity.consent_id_claim_name is defined %}
        <ConsentIDClaimName>{{financial_services.identity.consent_id_claim_name}}</ConsentIDClaimName>
        {% else %}
        <ConsentIDClaimName>consent_id</ConsentIDClaimName>
        {% endif %}
        {% if financial_services.identity.append_consent_id_to_token_id_token is defined %}
        <AppendConsentIdToTokenIdToken>{{financial_services.identity.append_consent_id_to_token_id_token}}</AppendConsentIdToTokenIdToken>
        {% else %}
        <AppendConsentIdToTokenIdToken>false</AppendConsentIdToTokenIdToken>
        {% endif %}
        {% if financial_services.identity.append_consent_id_to_authz_id_token is defined %}
        <AppendConsentIdToAuthzIdToken>{{financial_services.identity.append_consent_id_to_authz_id_token}}</AppendConsentIdToAuthzIdToken>
        {% else %}
        <AppendConsentIdToAuthzIdToken>false</AppendConsentIdToAuthzIdToken>
        {% endif %}
        {% if financial_services.identity.append_consent_id_to_access_token is defined %}
        <AppendConsentIdToAccessToken>{{financial_services.identity.append_consent_id_to_access_token}}</AppendConsentIdToAccessToken>
        {% else %}
        <AppendConsentIdToAccessToken>false</AppendConsentIdToAccessToken>
        {% endif %}
        {% if financial_services.identity.append_consent_id_to_token_introspect_response is defined %}
        <AppendConsentIdToTokenIntrospectResponse>{{financial_services.identity.append_consent_id_to_token_introspect_response}}</AppendConsentIdToTokenIntrospectResponse>
        {% else %}
        <AppendConsentIdToTokenIntrospectResponse>false</AppendConsentIdToTokenIntrospectResponse>
        {% endif %}
        <Extensions>
            {% if financial_services.identity.extensions.request_object_validator is defined %}
            <RequestObjectValidator>{{financial_services.identity.extensions.request_object_validator}}</RequestObjectValidator>
            {% endif %}
            {% if financial_services.identity.extensions.response_type_handler is defined %}
            <ResponseTypeHandler>{{financial_services.identity.extensions.response_type_handler}}</ResponseTypeHandler>
            {% endif %}
            {% if financial_services.identity.extensions.claim_provider is defined %}
            <ClaimProvider>{{financial_services.identity.extensions.claim_provider}}</ClaimProvider>
            {% endif %}
            {% if financial_services.identity.extensions.grant_handler is defined %}
            <GrantHandler>{{financial_services.identity.extensions.grant_handler}}</GrantHandler>
            {% endif %}
            {% if financial_services.identity.extensions.introspection_data_provider is defined %}
            <IntrospectionDataProvider>{{financial_services.identity.extensions.introspection_data_provider}}</IntrospectionDataProvider>
            {% endif %}
        </Extensions>
        <TokenSubject>
            {% if financial_services.identity.token.remove_user_store_domain_from_subject is defined %}
                 <RemoveUserStoreDomainFromSubject>{{financial_services.identity.token.remove_user_store_domain_from_subject}}</RemoveUserStoreDomainFromSubject>
            {% else %}
                 <RemoveUserStoreDomainFromSubject>false</RemoveUserStoreDomainFromSubject>
            {% endif %}
            {% if financial_services.identity.token.remove_tenant_domain_from_subject is defined %}
                 <RemoveTenantDomainFromSubject>{{financial_services.identity.token.remove_tenant_domain_from_subject}}</RemoveTenantDomainFromSubject>
            {% else %}
                 <RemoveTenantDomainFromSubject>false</RemoveTenantDomainFromSubject>
            {% endif %}
        </TokenSubject>
    </Identity>
    <AppRegistration>
        {% if financial_services.app_registration.application_updater is defined %}
        <ApplicationUpdaterImpl>{{financial_services.app_registration.application_updater}}</ApplicationUpdaterImpl>
        {% else %}
        <ApplicationUpdaterImpl>org.wso2.financial.services.accelerator.identity.extensions.client.registration.application.listener.ApplicationUpdaterImpl</ApplicationUpdaterImpl>
        {% endif %}
        <SCA>
            <PrimaryAuthenticator>
            {% if financial_services.app_registration.sca.primaryauth.name is defined %}
                <Name>{{financial_services.app_registration.sca.primaryauth.name}}</Name>
            {% else %}
                <Name>BasicAuthenticator</Name>
            {% endif %}
            {% if financial_services.app_registration.sca.primaryauth.display is defined %}
                <DisplayName>{{financial_services.app_registration.sca.primaryauth.display}}</DisplayName>
            {% else %}
                <DisplayName>basic</DisplayName>
            {% endif %}
            </PrimaryAuthenticator>
            {% if financial_services.app_registration.sca.idp.name is defined %}
            <IdpName>{{financial_services.app_registration.sca.idp.name}}</IdpName>
            {% endif %}
            {% if financial_services.app_registration.sca.idp.step is defined %}
            <IdpStep>{{financial_services.app_registration.sca.idp.step}}</IdpStep>
            {% endif %}
        </SCA>
        {% if financial_services.app_registration.conditional.auth.script.filename is defined %}
        <ConditionalAuthScriptFileName>{{financial_services.app_registration.conditional.auth.script.filename}}</ConditionalAuthScriptFileName>
        {% else %}
        <ConditionalAuthScriptFileName>common.auth.script.js</ConditionalAuthScriptFileName>
        {% endif %}
        <DCR>
            <Params>
                {% for param in financial_services.app_registration.dcr.params %}
                    <Param>
                        <Name>{{param.name}}</Name>
                        <Key>{{param.key}}</Key>
                        <Required>{{param.required}}</Required>
                        <AllowedValues>
                            {% for value in param.allowed_values %}
                            <Value>{{value}}</Value>
                            {% endfor %}
                        </AllowedValues>
                        <IncludeInResponse>{{param.include_in_response}}</IncludeInResponse>
                    </Param>
                {% endfor %}
            </Params>
            <Validators>
                {% for validator in financial_services.app_registration.dcr.validators.validator %}
                <Validator>
                    <Name>{{validator.name}}</Name>
                    <Class>{{validator.class}}</Class>
                    <Enable>{{validator.enable}}</Enable>
                    <Priority>{{validator.priority}}</Priority>
                    <AllowedValues>
                        {% for value in validator.allowed_values %}
                        <Value>{{value}}</Value>
                        {% endfor %}
                    </AllowedValues>
                </Validator>
                {% endfor %}
            </Validators>
            {% if financial_services.app_registration.dcr.service_extension is defined %}
            <DCRServiceExtension>{{financial_services.app_registration.dcr.service_extension}}</DCRServiceExtension>
            {% endif %}
            <JTICache>
                {% if financial_services.app_registration.dcr.jti_cache.cache_access_expiry_minutes is defined %}
                <CacheAccessExpiry>{{financial_services.app_registration.dcr.jti_cache.cache_access_expiry_minutes}}</CacheAccessExpiry>
                {% endif %}
                {% if financial_services.app_registration.dcr.jti_cache.cache_modified_expiry_minutes is defined %}
                <CacheModifiedExpiry>{{financial_services.app_registration.dcr.jti_cache.cache_modified_expiry_minutes}}</CacheModifiedExpiry>
                {% endif %}
            </JTICache>
            <RegulatoryIssuers>
                {% for iss in financial_services.app_registration.dcr.regulatory_issuers.iss %}
                   <Issuer>{{iss.name}}</Issuer>
                {% endfor %}
            </RegulatoryIssuers>
        </DCR>
    </AppRegistration>
    <HTTPConnectionPool>
        {% if financial_services.http_connection_pool.max_connections is defined %}
        <MaxConnections>{{financial_services.http_connection_pool.max_connections}}</MaxConnections>
        {% else %}
         <MaxConnections>1000</MaxConnections>
        {% endif %}
        {% if financial_services.http_connection_pool.max_connections_per_route is defined %}
        <MaxConnectionsPerRoute>{{financial_services.http_connection_pool.max_connections_per_route}}</MaxConnectionsPerRoute>
        {% else %}
         <MaxConnectionsPerRoute>1000</MaxConnectionsPerRoute>
        {% endif %}
    </HTTPConnectionPool>
    <EventNotifications>
        <NotificationGeneration>
            {% if financial_services.event.notifications.event_notification_generator is defined %}
            <NotificationGenerator>{{financial_services.event.notifications.event_notification_generator}}</NotificationGenerator>
            {% else %}
            <NotificationGenerator>org.wso2.financial.services.accelerator.event.notifications.service.DefaultEventNotificationGenerator</NotificationGenerator>
            {% endif %}
            {% if financial_services.event.notifications.token_issuer is defined %}
            <TokenIssuer>{{financial_services.event.notifications.token_issuer}}</TokenIssuer>
            {% else %}
            <TokenIssuer>www.wso2.com</TokenIssuer>
            {% endif %}
            {% if financial_services.event.notifications.number_of_sets_to_return %}
            <NumberOfSetsToReturn>{{financial_services.event.notifications.number_of_sets_to_return}}</NumberOfSetsToReturn>
            {% else %}
             <NumberOfSetsToReturn>5</NumberOfSetsToReturn>
            {% endif %}
        </NotificationGeneration>
        {% if financial_services.event.notifications.event_creation_handler is defined %}
        <EventCreationHandler>{{financial_services.event.notifications.event_creation_handler}}</EventCreationHandler>
        {% else %}
        <EventCreationHandler>org.wso2.financial.services.accelerator.event.notifications.service.handler.DefaultEventCreationServiceHandler</EventCreationHandler>
        {% endif %}
        {% if financial_services.event.notifications.event_polling_handler is defined %}
        <EventPollingHandler>{{financial_services.event.notifications.event_polling_handler}}</EventPollingHandler>
        {% else %}
        <EventPollingHandler>org.wso2.financial.services.accelerator.event.notifications.service.handler.DefaultEventPollingServiceHandler</EventPollingHandler>
        {% endif %}
        {% if financial_services.event.notifications.event_subscription_handler is defined %}
        <EventSubscriptionHandler>{{financial_services.event.notifications.event_subscription_handler}}</EventSubscriptionHandler>
        {% else %}
        <EventSubscriptionHandler>org.wso2.financial.services.accelerator.event.notifications.service.handler.DefaultEventSubscriptionServiceHandler</EventSubscriptionHandler>
        {% endif %}
        <EventSubscription>
            {% if financial_services.event.notifications.require_subscription_to_poll is defined %}
            <RequireSubscriptionToPoll>{{financial_services.event.notifications.require_subscription_to_poll}}</RequireSubscriptionToPoll>
            {% else %}
            <RequireSubscriptionToPoll>false</RequireSubscriptionToPoll>
            {% endif %}
            {% if financial_services.event.notifications.allow_multiple_subscription is defined %}
            <AllowMultipleSubscription>{{financial_services.event.notifications.allow_multiple_subscription}}</AllowMultipleSubscription>
            {% else %}
            <AllowMultipleSubscription>false</AllowMultipleSubscription>
            {% endif %}
        </EventSubscription>
        <PollingResponseParams>
            {% if financial_services.event.notifications.set_sub_claim_included is defined%}
            <IsSubClaimAvailable>{{financial_services.event.notifications.set_sub_claim_included}}</IsSubClaimAvailable>
            {% else %}
            <IsSubClaimAvailable>true</IsSubClaimAvailable>
            {% endif %}
            {% if financial_services.event.notifications.set_txn_claim_included is defined %}
            <IsTxnClaimAvailable>{{financial_services.event.notifications.set_txn_claim_included}}</IsTxnClaimAvailable>
            {% else %}
            <IsTxnClaimAvailable>true</IsTxnClaimAvailable>
            {% endif %}
            {% if financial_services.event.notifications.set_toe_cliam_included is defined %}
            <IsToeClaimAvailable>{{financial_services.event.notifications.set_toe_cliam_included}}</IsToeClaimAvailable>
            {% else %}
            <IsToeClaimAvailable>true</IsToeClaimAvailable>
            {% endif %}
        </PollingResponseParams>
        <Realtime>
            {% if financial_services.event.notifications.realtime.enable is defined %}
            <Enable>{{financial_services.event.notifications.realtime.enable}}</Enable>
            {% else %}
            <Enable>false</Enable>
            {% endif %}
            {% if financial_services.event.notifications.realtime.periodic_cron_expression is defined %}
            <PeriodicCronExpression>{{financial_services.event.notifications.realtime.periodic_cron_expression}}</PeriodicCronExpression>
            {% else %}
            <PeriodicCronExpression>0 0/1 0 ? * * *</PeriodicCronExpression>
            {% endif %}
            {% if financial_services.event.notifications.realtime.request_timeout is defined %}
            <TimeoutInSeconds>{{financial_services.event.notifications.realtime.request_timeout}}</TimeoutInSeconds>
            {% else %}
            <TimeoutInSeconds>60</TimeoutInSeconds>
            {% endif %}
            {% if financial_services.event.notifications.realtime.maximum_retry_count is defined %}
            <MaxRetries>{{financial_services.event.notifications.realtime.maximum_retry_count}}</MaxRetries>
            {% else %}
            <MaxRetries>5</MaxRetries>
            {% endif %}
            {% if financial_services.event.notifications.realtime.initial_retry_waiting_time is defined %}
            <InitialBackoffTimeInSeconds>{{financial_services.event.notifications.realtime.initial_retry_waiting_time}}</InitialBackoffTimeInSeconds>
            {% else %}
            <InitialBackoffTimeInSeconds>60</InitialBackoffTimeInSeconds>
            {% endif %}
            {% if financial_services.event.notifications.realtime.retry_function is defined %}
            <BackoffFunction>{{financial_services.event.notifications.realtime.retry_function}}</BackoffFunction>
            {% else %}
            <BackoffFunction>EX</BackoffFunction>
            {% endif %}
            {% if financial_services.event.notifications.realtime.circuit_breaker_open_timeout is defined %}
            <CircuitBreakerOpenTimeoutInSeconds>{{financial_services.event.notifications.realtime.circuit_breaker_open_timeout}}</CircuitBreakerOpenTimeoutInSeconds>
            {% else %}
            <CircuitBreakerOpenTimeoutInSeconds>600</CircuitBreakerOpenTimeoutInSeconds>
            {% endif %}
            {% if financial_services.event.notifications.realtime.thread_pool_size is defined %}
            <EventNotificationThreadPoolSize>{{financial_services.event.notifications.realtime.thread_pool_size}}</EventNotificationThreadPoolSize>
            {% else %}
            <EventNotificationThreadPoolSize>20</EventNotificationThreadPoolSize>
            {% endif %}
            {% if financial_services.event.notifications.realtime.event_notification_request_generator is defined %}
            <RequestGenerator>{{financial_services.event.notifications.realtime.event_notification_request_generator}}</RequestGenerator>
            {% else %}
            <RequestGenerator>org.wso2.financial.services.accelerator.event.notifications.service.realtime.service.DefaultRealtimeEventNotificationRequestGenerator</RequestGenerator>
            {% endif %}
        </Realtime>
    </EventNotifications>
    <ExtensionsEndpoint>
        {% if financial_services.extensions.endpoint.enabled is defined %}
        <Enable>{{financial_services.extensions.endpoint.enabled}}</Enable>
        {% else %}
        <Enable>false</Enable>
        {% endif %}
        <AllowedExtensions>
            {% for allowed_extension in financial_services.extensions.endpoint.allowed_extensions %}
            <AllowedExtension>{{allowed_extension}}</AllowedExtension>
            {% endfor %}
        </AllowedExtensions>
        {% if financial_services.extensions.endpoint.base_url is defined %}
        <BaseURL>{{financial_services.extensions.endpoint.base_url}}</BaseURL>
        {% endif %}
        <AllowedHeaders>
            {% for allowed_header in financial_services.extensions.endpoint.allowed_headers %}
            <AllowedHeader>{{allowed_header}}</AllowedHeader>
            {% endfor %}
        </AllowedHeaders>
        {% if financial_services.extensions.endpoint.retry_count is defined %}
        <RetryCount>{{financial_services.extensions.endpoint.retry_count}}</RetryCount>
        {% endif %}
        {% if financial_services.extensions.endpoint.connect_timeout is defined %}
        <ConnectTimeout>{{financial_services.extensions.endpoint.connect_timeout}}</ConnectTimeout>
        {% endif %}
        {% if financial_services.extensions.endpoint.read_timeout is defined %}
        <ReadTimeout>{{financial_services.extensions.endpoint.read_timeout}}</ReadTimeout>
        {% endif %}
        <Security>
            {% if financial_services.extensions.endpoint.security.type is defined %}
            <Type>{{financial_services.extensions.endpoint.security.type}}</Type>
            {% else %}
            <Type>Basic-Auth</Type>
            {% endif %}
            {% if financial_services.extensions.endpoint.security.username is defined %}
            <Username>{{financial_services.extensions.endpoint.security.username}}</Username>
            {% endif %}
            {% if financial_services.extensions.endpoint.security.password is defined %}
            <Password>{{financial_services.extensions.endpoint.security.password}}</Password>
            {% endif %}
            {% if financial_services.extensions.endpoint.security.token is defined %}
            <Token>{{financial_services.extensions.endpoint.security.token}}</UserName>
            {% endif %}
        </Security>
    </ExtensionsEndpoint>
</Server>
